language: ruby
gemfile:
   - test/support/Gemfile
rvm:
  - 2.1.1
env:
  global:
    DRUPAL_VERSION=drupal7
    DRUPAL_VERSION=drupal6
before_install:
  - "wget http://opscode-omnibus-packages.s3.amazonaws.com/ubuntu/12.04/x86_64/chefdk_0.3.0-1_amd64.deb"
  - "sudo dpkg -i chefdk_0.3.0-1_amd64.deb"
  - "sudo berks install -d"
  - "sudo chef-solo -c test/.chef/solo.rb -j test/.chef/runlist.json"
script:
  - bundle exec rake knife
  - bundle exec rake foodcritic
  - bundle exec rake solo
